<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PAMChatGPT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PAMChatGPT.Properties.Settings>
            <setting name="OpenAI_api_key" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAI_Organization" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAI_Model" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenAIAzure_api_key" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIAzure_ResourceName" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIAzure_DeploymentId" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenAIAzure_APIVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAPI" serializeAs="String">
                <value />
            </setting>
        </PAMChatGPT.Properties.Settings>
    </userSettings>
</configuration>